/* ========== Google Fonts ========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
      font-family: 'Poppins', sans-serif;
      background: #283618;
      margin: 20px;
      color: #A3B18A;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #283618;
    }

    .container {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }

    .box {
      background: #A3B18A;
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      width: 280px;
      box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      color: #283618;
    }

    .box h2 {
      text-align: center;
      margin-bottom: 10px;
      color: #283618;
    }

    .box label {
      display: block;
      margin-bottom: 8px;
      color: #283618;
    }

    .box textarea {
      width: 100%;
      height: 60px;
      margin-top: 8px;
      padding: 5px;
      border-radius: 6px;
      border: 1px solid #A3B18A;
      resize: none;
      font-family: 'Poppins', sans-serif;
      background-color: #DAD7CD;
    }

    .box button {
      margin-top: 10px;
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      background: #DAD7CD;
      color: #283618;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
    }

    .box button:hover {
      background: #DAD7CD;
    }

    .helpline {
      margin-top: 40px;
      padding: 20px;
      border-radius: 10px;
      background:#DAD7CD;
      color: #283618;
      border: 2px solid #DAD7CD;
    }

    .helpline h2 {
      margin-bottom: 10px;
      color: #283618;
    }

    .helpline p {
      margin: 5px 0;
    }

    .helpline a {
      color: #283618;
      font-weight: bold;
      text-decoration: none;
    }

    .helpline a:hover {
      text-decoration: underline;
    }